<%= render "shared/banner" %>
<p id="notice"><%= notice %></p>
<div class="container">
<h2>Cities</h2>

  <div class="wrapper">
    <div class="row">
      <% @cities.each do |city| %>

      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path city.photo.path, height: 300, width: 400, crop: :fill %>');">
          <div class="card-category"><%= city.name %></div>
          <div class="card-description">
          <p> Lost animals: <%= city.lost_animals.count %> </p>
          </div>
          <%= link_to "", city, class: "card-link" %>
        </div>
      </div>

      <% end %>

    </div>
  </div>

  <div class="padded text-center">
    <%= link_to 'Add a City', new_city_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
